/* Form.css */

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 650px;
  background: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border: 1px solid #e9ecef;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

label {
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: -10px;
}

.input {
  padding: 14px;
  border-radius: 12px;
  border: 2px solid #ced4da;
  transition: border-color 0.3s;
}

.input:focus {
  outline: none;
  border-color: #CAD1A7;
  background-color: #fcfdfa;
}

.btn {
  background: #CAD1A7;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background: #BCC398;
}

.list-item {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 12px 18px;
  border-radius: 10px;
  border: 1px solid #e9ecef;
  margin-bottom: 8px;
}

.result {
  background: #ffffff;
  padding: 25px;
  border-radius: 15px;
  border: 2px solid #CAD1A7;
  margin-top: 20px;
}

.result p {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 8px;
  color: #495057;
}
